<body class='container'>
  <header>
    <img src="../assets/logo-evolucional.png" alt="EvoLogo" class="logo-img">
    <div class="links">
      <div class="button-link-container">
        <a [routerLink]="['evaluationinfo']" class="button-link">
          getEvaluationsInfo
        </a>
      </div>
      <div class="button-link-container">
        <a [routerLink]="['evaluationinfo/lastfive']" class="button-link">
          getLastFiveEvaluationsInfo
        </a>
      </div>
      <div class="button-link-container">
        <a [routerLink]="['evaluationinfo/commonnames']" class="button-link">
          common names
        </a>
      </div>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="foot">
    <p>Feito com ❤️ por Allan Galdino - Copyright &copy; 2020</p>
  </footer>

</body>
